section {
    margin-top: 10vh;
}

h1 {
    /* font-size: 2rem; */
    font-weight: bold;
    margin-bottom: 1rem;
}

.search-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.search-filter input,
.search-filter select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.95);
}

.search-filter input:focus,
.search-filter select:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 8px rgba(74, 59, 42, 0.2);
}

.search-filter input::placeholder {
  color: #aaa;
}

.search-filter select {
  appearance: none;
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE2IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgMUwxNSAxbC03IDdMMCAxWiIgZmlsbD0iIzMzMyIvPjwvc3ZnPg==') no-repeat right 0.75rem center;
  background-size: 0.65rem;
  padding-right: 2rem;
  background-color: rgba(255, 255, 255, 0.95);
  color: #aaaaaa;
}