.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 5vh; */
  text-align: left;
  position: relative;
  width: 100%;
  /* padding: 20px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile .profile-cover {
  height: 30vh;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.profile .profile-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.profile .profile-image {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  border-radius: 50%;
  top: 22.5vh; /* Adjust as needed */
  z-index: 2;
}

.profile .profile-image img {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile .profile-information {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  margin-top: 5vh; /* Adjust as needed to accommodate the profile image */
  width: 100%;
  padding: 20px;
}

.profile .favorite-cafes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10vh;
  width: 100%;
  background-color: #7a6248;
  padding: 20px;
  color: #fffdf9;
}

.profile .cafe-card {
  margin: 0 20px;
}

.profile .cafe-grid a {
  flex: 1;
}

.profile .cafe-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.edit-profile-btn {
  background-color: #7a6248;
  color: #fffdf9;
  border: none;
  padding: 5px 50px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.edit-profile-btn:hover {
  background-color: #5a3b28;
  transition: background-color 0.3s;
}
